.card {
  padding: 1rem;
  background: var(--color-background);
  border-radius: var(--border-radius-default);
  box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.15);
  border-left: 0.25rem solid var(--color-accent);
}
