.addressBook {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.remove {
  --color-brand: var(--color-accent);
}

@media (min-width: 48rem) {
  .addressBook {
    margin-left: auto;
  }
}

.item {
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 48rem) {
  .item {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

.item address {
  font-size: var(--font-size-md);
}

.item h3 {
  margin: 0 0 0.5rem;
}
